<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<title>Final</title>
	<link rel="stylesheet" href="css/style.css">
	<script src="/js/lib/jquery.min.js"></script>
</head>
<body>
	<div class="Container">
		<header>
			<nav class="Nav-header">
				<div class="Wrap-header">
					<div>
						<p class="Nav-logo">Classified Ads</p>
					</div>
					<div class="Wrap-header-button">
						<button type="button" class="Nav-button">Post your Ad</button>						  
						<img src="../src/images/UK flag.jpg" alt="eng">
						<label class="Switch">
						<input type="checkbox">
						<span class="Slider round"></span>
						</label>
						<img src="../src/images/spanish.jpg" alt="spanish">
					</div>
				</div>
			</nav>
		</header>

		<section class="Form-search">
			<form>
				<select class="Select-city">
					<option value="Los Angeles">Los Angeles</option>
					<option value="New York">New York</option>
					<option value="New Jersey">New Jersey</option>
				</select>
				<input class="Select-text" id="text" type="text" name="text" placeholder="What are you looking for?">
				<select class="Select-rubric">
					<option disabled selected>Choose rubric</option>
					<option value="Los Angeles">Los Angeles</option>
					<option value="New York">New York</option>
					<option value="New Jersey">New Jersey</option>
				</select>
				<input class="Select-button" type="submit" value="Search">
			</form>
		</section>

		<main class="Wrap-main">
			<div class="Wrap-contentColumn">
				<div class="Wrap-contentRow">
					<div class="Wrap-cardPhoto">
						<div class="Card-photo">
							<div class="Card-price">
								<p class="Price"><b>$2,500</b></p>
							</div>
							<img src="../src/images/Car1.jpg" alt="car">
						</div>
						<div class="Card-text">
							<h4>Bueno y ahorrador de gasolina</h4>
							<p class="Texting">Vendo un Honda civic 93 color rojo automatico motor y transmision.</p>
						</div>
						<div class="Card-date">
							<p>Cars >> Honda</p>
							<p><b>Today, 11:15 am</b></p>
						</div>
					</div>
					<div class="Wrap-contentColumn">
						<div class="Wrap-cardText">
							<div class="Card-text">
								<div class="Card-price">
									<p class="Price"><b>$11,800</b></p>
								</div>
								<h4>Bonita van familiar</h4>
								<p class="Texting">Vendo caravan 2000, con 129xxx millas, motor y transmicion en buen estado, vidrios electricos.</p>						
							</div>
							<div class="Card-date">
								<p>Cars >> Honda</p>
								<p><b>Today, 11:09 am</b></p>
							</div>
						</div>
						<div class="Wrap-cardText">
							<div class="Card-text">
								<h4>Limpio</h4>
								<p class="Texting">Vendo dodge neon aire acondisionado titulo limpio 4 silindros 19.700 millas 5628465854</p>
							</div>
							<div class="Card-date">
								<p>Cars >> Honda</p>
								<p><b>Today, 11:01 am</b></p>
							</div>
						</div>
					</div>
				</div>

				<div class="Wrap-cardPhoto">
					<div class="Card-photo">
						<div class="Card-price">
							<p class="Price"><b>$1,580,000</b></p>
						</div>
						<img src="../src/images/Car2.jpg" alt="car">
					</div>
					<div class="Card-text">
						<h4>Golf todo originala</h4>
						<p class="Texting">2005 Volkswagen New Beetle GLS Convertible 2D|Kilometraje: 35.000 Buen estado Este coche esta libre de problemas mecanicos, pero puede necesitar algunos reacondicionamiento, no funciona la parte superior. Hay aranazos menores cuerpo y golpes, pero sin oxido.</p>
					</div>
					<div class="Card-date">
						<p>Cars >> Honda</p>
						<p><b>Yesterday, 8:22 pm</b></p>
					</div>
				</div>

				<div class="Wrap-contentRow">
					<div class="Wrap-cardPhoto">
						<div class="Card-photo">
							<div class="Card-price">
								<p class="Price"><b>$26,500</b></p>
							</div>
							<img src="../src/images/Car1.jpg" alt="car">
						</div>
						<div class="Wrap-cardPhotoSmall">
							<img src="../src/images/Car3.jpg" alt="car">
							<img src="../src/images/Car3.jpg" alt="car">
							<img src="../src/images/Car3.jpg" alt="car">
							<img src="../src/images/Car3.jpg" alt="car">
							<img src="../src/images/Car3.jpg" alt="car">
						</div>
						<div class="Card-text">
							<h4>2001 Dodge stratus automatic</h4>
							<p class="Texting">Vendo dodge neon titulo limpio aire acondicionado 4 puertas atomatico. 4 cilindros 1950.</p>
						</div>
						<div class="Card-date">
							<p>Cars >> Honda</p>
							<p><b>Yesterday, 6:22 pm</b></p>
						</div>
					</div>

					<div class="Wrap-cardPhoto">
						<div class="Card-photo">
							<img src="../src/images/Car1.jpg" alt="car">
						</div>
						<div class="Card-text">
							<h4>Bueno y ahorrador de gasolina</h4>
							<p class="Texting">Vendo un Honda civic 93 color rojo automatico motor y transmision.</p>
						</div>
						<div class="Card-date">
							<p>Cars >> Honda</p>
							<p><b>Today, 11:15 am</b></p>
						</div>
					</div>
				</div>
			</div>

			<div class="Wrap-contentColumn">
				<div class="Wrap-cardPhoto Wrap-Yellow">
					<div class="Card-photo">
						<img src="../src/images/Car1.jpg" alt="car">
					</div>
					<div class="Wrap-cardPhotoSmall">
						<img src="../src/images/Car3.jpg" alt="car">
						<img src="../src/images/Car3.jpg" alt="car">
						<img src="../src/images/Car3.jpg" alt="car">
					</div>
					<div class="Card-text">
						<h4>Bueno y ahorrador de gasolina</h4>
						<p class="Texting">Vendo un Honda civic 93 color rojo automatico motor y transmision.</p>
					</div>
					<div class="Card-date Yellow">
						<p>Cars >> Honda</p>
						<p><b>Today, 11:15 am</b></p>
					</div>
				</div>
				<div class="Wrap-cardPhoto">
					<div class="Card-photo">
						<img src="../src/images/Car1.jpg" alt="car">
					</div>
					<div class="Card-text">							
						<h4>Bueno y ahorrador de gasolina</h4>
						<p class="Texting">Vendo un Honda civic 93 color rojo automatico motor y transmision.</p>
					</div>
					<div class="Card-date">
						<p>Cars >> Honda</p>
						<p><b>Today, 11:15 am</b></p>
					</div>
				</div>
				<div class="Wrap-cardText Wrap-Yellow">
					<div class="Card-text">
						<div class="Card-price">
							<p class="Price"><b>$100,800</b></p>
						</div>
						<h4>Bonita van familiar</h4>
						<p class="Texting">Vendo caravan 2000, con 129xxx millas, motor y transmicion en buen estado, vidrios electricos.</p>						
					</div>
					<div class="Card-date Yellow">
						<p>Cars >> Honda</p>
						<p><b>Today, 11:09 am</b></p>
					</div>
				</div>
				<div class="Wrap-cardText">
					<div class="Card-text">
						<h4>Limpio</h4>
						<p class="Texting">Vendo dodge neon aire acondisionado titulo limpio 4 silindros 19.700 millas 5628465854</p>
					</div>
					<div class="Card-date">
						<p>Cars >> Honda</p>
						<p><b>Today, 11:01 am</b></p>
					</div>
				</div>
			</div>

			<div class="Wrap-advertisment">
				<div class="Card-adv">
					<img src="../src/images/Adv1.jpg" alt="adv">
				</div>
				<div class="Card-adv">
					<img src="../src/images/Adv2.jpg" alt="adv">
				</div>
				<div class="Card-adv">
					<img src="../src/images/Adv3.jpg" alt="adv">
				</div>
				<div class="Card-adv">
					<img src="../src/images/Adv4.jpg" alt="adv">
				</div>
				<div class="Card-adv">
					<img src="../src/images/Adv5.jpg" alt="adv">
				</div>
				<div class="Card-adv">
					<img src="../src/images/Adv2.jpg" alt="adv">
				</div>
				<div class="Card-adv">
					<img src="../src/images/Adv3.jpg" alt="adv">
				</div>
			</div>
		</main>
	</div>
<script src="js/common.min.js"></script>
</body>
</html>